<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.founder.dao.MsExamineEventDao">
    <select id="selectByPeronId" resultType="com.founder.entity.MsExamineEvent" parameterType="String">
        select id, ehr_id, person_id, record_number, name, gender, age, check_list_title, sample_type_name,
        inspection_type, hospital_code, hospital_name, apply_room_code, apply_room_name, apply_people_no,
        apply_people_name, apply_people_idcard, apply_date, audit_code, audit_name, audit_idcard, audit_date,
        check_people_code, check_people_name, check_people_idcard, check_date, update_name, update_idcard, update_date,
        is_delete, marriage, examination_number, examination_code, examination_name, othercardtype, othercardno,
        op_em_hp_ex_no, op_em_hp_ex_mark, rpt_cat_code, samp_dt, accept_dt, eqpt_cat_code, eqpt_no, eqpt_name,
        testmethod, process_status, is_limit, gather_date, op_em_in_ex_mark, visit_status
        from MS_EXAMINE_EVENT
        where PERSON_ID=#{person_id}
    </select>

    <select id="selectByEhrId" parameterType="String" resultType="com.founder.entity.MsExamineEvent">
        select id, ehr_id, person_id, record_number, name, gender, age, check_list_title, sample_type_name,
        inspection_type, hospital_code, hospital_name, apply_room_code, apply_room_name, apply_people_no,
        apply_people_name, apply_people_idcard, apply_date, audit_code, audit_name, audit_idcard, audit_date,
        check_people_code, check_people_name, check_people_idcard, check_date, update_name, update_idcard, update_date,
        is_delete, marriage, examination_number, examination_code, examination_name, othercardtype, othercardno,
        op_em_hp_ex_no, op_em_hp_ex_mark, rpt_cat_code, samp_dt, accept_dt, eqpt_cat_code, eqpt_no, eqpt_name,
        testmethod, process_status, is_limit, gather_date, op_em_in_ex_mark, visit_status
        from MS_EXAMINE_EVENT
        where EHR_ID=#{ehr_id}
    </select>

    <select id="selectAllByUploadTime" resultType="com.founder.entity.MsExamineEvent" parameterType="String">
        select id, ehr_id, person_id, record_number, name, gender, age, check_list_title, sample_type_name,
        inspection_type, hospital_code, hospital_name, apply_room_code, apply_room_name, apply_people_no,
        apply_people_name, apply_people_idcard, apply_date, audit_code, audit_name, audit_idcard, audit_date,
        check_people_code, check_people_name, check_people_idcard, check_date, update_name, update_idcard, update_date,
        is_delete, marriage, examination_number, examination_code, examination_name, othercardtype, othercardno,
        op_em_hp_ex_no, op_em_hp_ex_mark, rpt_cat_code, samp_dt, accept_dt, eqpt_cat_code, eqpt_no, eqpt_name,
        testmethod, process_status, is_limit, gather_date, op_em_in_ex_mark, visit_status
        from MS_EXAMINE_EVENT
        where GATHER_DATE &gt;= to_date(#{startTime},'yyyy/MM/dd hh24:mi:ss') AND GATHER_DATE &lt;= to_date(#{endTime},'yyyy/MM/dd hh24:mi:ss')
    </select>

    <select id="selectByEhrAndPersonId" parameterType="String" resultType="com.founder.entity.MsExamineEvent">
        select id, ehr_id, person_id, record_number, name, gender, age, check_list_title, sample_type_name,
        inspection_type, hospital_code, hospital_name, apply_room_code, apply_room_name, apply_people_no,
        apply_people_name, apply_people_idcard, apply_date, audit_code, audit_name, audit_idcard, audit_date,
        check_people_code, check_people_name, check_people_idcard, check_date, update_name, update_idcard, update_date,
        is_delete, marriage, examination_number, examination_code, examination_name, othercardtype, othercardno,
        op_em_hp_ex_no, op_em_hp_ex_mark, rpt_cat_code, samp_dt, accept_dt, eqpt_cat_code, eqpt_no, eqpt_name,
        testmethod, process_status, is_limit, gather_date, op_em_in_ex_mark, visit_status
        from MS_EXAMINE_EVENT
        where EHR_ID=#{ehr_id} and PERSON_ID=#{person_id}
    </select>



</mapper>