<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.founder.dao.MsSurgeryInfoDao">
    <select id="selectAll" resultType="com.founder.entity.MsSurgeryInfo">
        select <include refid="columnList"/>
        from MS_SURGERY_INFO
    </select>


    <select id="selectByPeronId" resultType="com.founder.entity.MsSurgeryInfo" parameterType="String">
        select <include refid="columnList"/>
        from MS_SURGERY_INFO
        where PERSON_ID=#{person_id}
    </select>

    <select id="selectByEhrId" parameterType="String" resultType="com.founder.entity.MsSurgeryInfo">
        select <include refid="columnList"/>
        from MS_SURGERY_INFO
        where EHR_ID=#{ehr_id}
    </select>

    <select id="selectAllByUploadTime" resultType="com.founder.entity.MsSurgeryInfo" parameterType="String">
        select <include refid="columnList"/>
        from MS_SURGERY_INFO
        where GATHER_DATE &gt;= to_date(#{startTime},'yyyy/MM/dd hh24:mi:ss') AND GATHER_DATE &lt;= to_date(#{endTime},'yyyy/MM/dd hh24:mi:ss')
    </select>

    <select id="selectByEhrAndPersonId" parameterType="String" resultType="com.founder.entity.MsSurgeryInfo">
        select
            <include refid="columnList"/>
        from MS_SURGERY_INFO
        where EHR_ID=#{ehr_id} and PERSON_ID=#{person_id}
    </select>

    <sql id="columnList">
        id, ehr_id, person_id, hospital_code, hospital_name, anesthesia_method_code, anesthesia_method_name,
        anesthesia_doctor_code, anesthesia_doctor_name, anesthesia_doctor_idcard, incision_healing_grade_code,
        incision_healing_grade_name, opertation_code, opertation_name, opertation_desc, opertation_target_code,
        opertation_target_name, operator_code, operator_name, operation_unit_name, operator_idcard, opertation_date,
        operation_level_name, operation_assistant_one, operation_assistant_two, is_delete, name, age, gender, marriage,
        process_status, apply_no, begin_time, end_time, analysis_status, op_em_hp_mark, is_limit, is_analyse, gather_date
    </sql>

</mapper>